
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cin</th>
                <th>Name</th>
                <th>Surname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.cin }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>
                    <a href="">show</a>
                    <a href="">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

